In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Aim: Demonstrate data imputation with statistical technique on numerical values and write down the conclusion about the assumption

In [40]:
df = pd.read_csv("datasets/titanic_toy.csv")
df.head()

    Age     Fare  Family  Survived
0  22.0   7.2500       1         0
1  38.0  71.2833       1         1
2  26.0   7.9250       0         1
3  35.0  53.1000       1         1
4  35.0   8.0500       0         0

In [41]:
df.isna().sum()

Age         177
Fare         45
Family        0
Survived      0
dtype: int64

In [42]:
df.isna().sum()/len(df)*100

Age         19.865320
Fare         5.050505
Family       0.000000
Survived     0.000000
dtype: float64

In [37]:
df["Fare"].var()

2530.6730768999487

In [45]:
df["mean_fare"] = df["Fare"].fillna(df["Fare"].mean())

In [46]:
df["mean_fare"].var()

2402.717696607255

In [21]:
df.shape

(891, 4)

In [22]:
y = df["Survived"]
y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [23]:
x = df[["Age","Fare","Family"]]
x.head()

    Age     Fare  Family
0  22.0   7.2500       1
1  38.0  71.2833       1
2  26.0   7.9250       0
3  35.0  53.1000       1
4  35.0   8.0500       0

In [24]:
from sklearn.model_selection import train_test_split

In [25]:
x_train, x_test, y_train, y_test = train_test_split(x,y,train_size=.8,random_state=1)

In [26]:
x_train

      Age     Fare  Family
301   NaN  23.2500       2
309  30.0  56.9292       0
516  34.0  10.5000       0
120  21.0  73.5000       2
570  62.0  10.5000       0
..    ...      ...     ...
715  19.0   7.6500       0
767  30.5   7.7500       0
72   21.0  73.5000       0
235   NaN   7.5500       0
37   21.0   8.0500       0

[712 rows x 3 columns]

# Conclusion : It is observed that if the assumptions of imputations (imputing features with more the 5-6% null values) are violated then there are high chances that the mean and variance of the feature before and after imputation will differ alot

In [ ]:
nces